.cardWidth{
    width: 65% !important;
}
.col-centered{
    float: none;
    margin: 0 auto;
}

.modal-doc{
    display: block;
    align-content: center;
    text-align: center;
}

.hrProfile{
    height: 2px;
    width: 75%;
    background: #2C3E50;
    position: relative;
    border: 0;
    margin: 0 0 20px 0;
}
p.pp{
    font-size: 18px;
}
i{
    font-size: 20px;
    color: #2C3E50;
}

.card-title{
    font-size: 170%;
}
.card {
    border: 0;
    margin-bottom: 30px;
    margin-top: 150px;
    border-radius: 6px !important;
    color: rgba(0,0,0,.87);
    background: #fff;
    box-shadow: 0 2px 2px 0 rgba(0,0,0,.14), 0 3px 1px -2px rgba(0,0,0,.2), 0 1px 5px 0 rgba(0,0,0,.12);
}
.card1 {
    display: block;
    align-content: center;
    text-align: center;
    border: 0;
    margin-bottom: 30px;
    border-radius: 6px !important;
    color: rgba(0,0,0,.87);
    background: #fff;
    box-shadow: 0 2px 2px 0 rgba(0,0,0,.14), 0 3px 1px -2px rgba(0,0,0,.2), 0 1px 5px 0 rgba(0,0,0,.12);
}
.card-description{
    color: #999;
}

.card-profile{
    padding-top: 50px;
    padding-right: 30px;
    padding-left: 30px;
    padding-bottom: 200px;
    text-left: center;
}
svg path {
    fill: #ffb737;
}

.btnCard{
    background: #0cb8b6;
    color: white;
}

.action-button {
    padding: 7px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 10px;
    margin-bottom: 10px;
    -webkit-transition-duration: 0.4s; /* Safari */
    transition-duration: 0.4s;
    cursor: pointer;

    background-color: white;
    color: black;
    border: 2px solid #2C3E50;
    width: 60px;
}

.action-button:hover {
    text-decoration: none;
    background-color: #2C3E50;
    color: white;
}

/* form starting stylings ------------------------------- */
.group            {
    position:relative;
    margin-bottom:45px;
}
.group input               {
    font-size:18px;
    padding:10px 10px 10px 5px;
    display:block;
    width:300px;
    border:none;
    border-bottom:1px solid #757575;
}
.group input:focus         { outline:none; }

/* LABEL ======================================= */
.group label                {
    color:#999;
    font-size:18px;
    font-weight:normal;
    position:absolute;
    pointer-events:none;
    left:5px;
    top:10px;
    transition:0.2s ease all;
    -moz-transition:0.2s ease all;
    -webkit-transition:0.2s ease all;
}

/* active state */
.group input:focus ~ label, input:valid ~ label        {
    top:-20px;
    font-size:14px;
    color:#5264AE;
}

/* BOTTOM BARS ================================= */
.bar    { position:relative; display:block; width:300px; }
.bar:before, .bar:after     {
    content:'';
    height:2px;
    width:0;
    bottom:1px;
    position:absolute;
    background:#5264AE;
    transition:0.2s ease all;
    -moz-transition:0.2s ease all;
    -webkit-transition:0.2s ease all;
}
.bar:before {
    left:50%;
}
.bar:after {
    right:50%;
}

/* active state */
.group input:focus ~ .bar:before, input:focus ~ .bar:after {
    width:50%;
}

/* HIGHLIGHTER ================================== */
.highlight {
    position:absolute;
    height:60%;
    width:100px;
    top:25%;
    left:0;
    pointer-events:none;
    opacity:0.5;
}

/* active state */
.group input:focus ~ .highlight {
    -webkit-animation:inputHighlighter 0.3s ease;
    -moz-animation:inputHighlighter 0.3s ease;
    animation:inputHighlighter 0.3s ease;
}

/* ANIMATIONS ================ */
@-webkit-keyframes inputHighlighter {
    from { background:#5264AE; }
    to    { width:0; background:transparent; }
}
@-moz-keyframes inputHighlighter {
    from { background:#5264AE; }
    to    { width:0; background:transparent; }
}
@keyframes inputHighlighter {
    from { background:#5264AE; }
    to    { width:0; background:transparent; }
}
.modal-dialog {
    min-width: 350px;
    max-width: 350px;
}

.car-img{
    width: 30%;
    margin-left: 35%;
}